<div class="container">
    <div class="logCard">
        <div class="logImg">
            <div class="overlay">
                <div class="logo-box">
                    <h2 class="logo-text">DIVISUM</h2>
                    <span class="logo-slogan">BARBERSHOP</span>
                </div>
            </div>
        </div>

        <div class="logText">
            <span class="premium-label">Üdvözöljük újra</span>
            <h1>ADMIN BEJELENTKEZÉS</h1>
            <div class="divider"></div>
            
            <form class="logForm" #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <label>Email cím</label>
                    <input type="email" name="email" [(ngModel)]="email" placeholder="pelda@email.hu" />
                    <small class="error-text" *ngIf="false">Valós email-t adjon meg!</small>
                </div>

                <div class="input-group">
                    <label>Jelszó</label>
                    <input type="password" name="password" [(ngModel)]="password" placeholder="••••••••" />
                    <small class="error-text" *ngIf="false">Helytelen jelszó!</small>
                </div>

                <button type="submit" class="submit-btn">BEJELENTKEZÉS</button>
                
            </form>
            <br>
        </div>
    </div>
</div>